# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd

# Entorno virtual
.venv/
venv/
env/

# Archivos de entorno
.env

# VSCode
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Node (frontend)
node_modules/
dist/
build/